
body{
    background-color: white;
    margin: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}
ul{
    display: inline-block;
    margin:auto auto auto 550px;
}
li{
    display: inline;
    padding: 10px 25px 10px 25px;
    }
a{
    
    margin-top: 5px;
    color:black;
    text-decoration: none; 
}
a:hover{
    color:orangered;
}
.logopic{
    padding-top: 25px;
}
.bodypic{
    height: 300px;
    width: 730px;
    padding: 25px 30px 25px auto;
}
.main-container{
    margin-right: 500px;
    padding: 30px 8px 30px 0;
    float: left;
    align-items: flex-start;
}
h1{
    font-size:50px;
}
#bodyheading{
    text-align:left;
    float: left;
    width:40%;
    }
#para1{
    color: rgb(104, 102, 102);
    line-height: 2em;
    text-align: left;
    float: right;
    width: 50%;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
}
#readbutton{
    background-color:tomato;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 14px;
}
#readbutton:hover{
    background-color:black;
}
.right-container{
    background-color: black;
    color: rgb(161, 151, 151);
    width: 25%;
    position: absolute;
    right: 100px;
    top:180px;
    padding: 40px 25px 60px 25px;
}
#right-heading{
    color:rgb(242, 176, 34);
}
#hydro{
    color:white;
}
#hydro:hover{
    color:rgb(242, 176, 34);
}
#ai{
    color:white;
}
#ai:hover{
    color:rgb(242, 176, 34);
}
#vc{
    color:white;
}
#vc:hover{
    color:rgb(242, 176, 34);
}
#retropic{
    height:140px;
    width: 100px;
    float: left;
    padding: 20px;

}
#lap-pic{
    height:140px;
    width: 100px;
    float: left;
    padding: 20px;
}
#gamepic{
    height:140px;
    width: 100px;
    float:left;
    padding:20px;
}

.num{
    display: inline-block;
    line-height: 1.5em;
    color: rgb(104, 102, 102);
    padding: 1rem 1rem;
    width: 30%;
    vertical-align:middle;
}
.sno{
    color:slategray;
}